{{> menu}}



<ul class="list-group">
  <li class="list-group-item active">Your Groups</li>
{{#each groups}}

  <li class="list-group-item"> 
    <div class="flexbox">
    <p><strong>Group name:</strong> {{this.name}} </p>
    {{#if this.user}}
      <p> <a href="/group/info/{{this._id}}" class="info" >Info</a></p>
     <p> <a href="/group/del/{{this._id}}" class="exit" >Exit group</a></p>
    {{else}}
      <a class="btn" href="/group/add/{{this._id}}">Enter group</a>
    {{/if}}
   </div>
    </li>

{{/each}}
<a class="btn btn-success" href="/group/new">New group</a>
</ul>